{% ckan_extends %}

{% set is_saml_user = h.saml_is_saml_user(g.user) %}

{% macro hide_pass(is_saml_user, fields_data) %}
    {% if is_saml_user %}
        <div hidden>
            {{ fields_data }}
        </div>
    {% else %}
        {{ fields_data }}
    {% endif %}
{% endmacro %}

{% block sysadmin_password %}
    {{ hide_pass(is_saml_user, super()) }}
{% endblock %}

{% block sysadmin_old_password %}
    {{ hide_pass(is_saml_user, super()) }}
{% endblock %}

{% block change_password %}
    {{ hide_pass(is_saml_user, super()) }}
{% endblock %}
